{% extends 'core/base.html' %}
{% load static %}
{% block css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'accounts/css/user_register_login.css' %}">
{% endblock css %}

{% block content %}




  <section class="container-fluid">
    <div class="container h-100 mt-5 mb-5">
    
      <div class="user_registration_box shadow rounded m-auto">
          <h3 class='text-center pt-3'>GloWhite Herblas</h3>
          <h5 class='text-center text-warning'>Login Here</h5>
        
          <form action="" method='POST' class='p-md-3'>
           {% csrf_token %}
          {% for fm in form %}
          <div class="form-group">
       
            <label for = '{{fm.label|lower}}' id ='id_{{fm.label|lower}}' class='ps-1'>{{fm.label}}</label>
            {{fm}}
            <span class='text-danger'>{{fm.errors|striptags}}</span>
          </div>
          {% endfor %}

          <div class="form-group d-flex justify-content-start align-align-content-center mt-3">

            <input type="submit" value='Login' class='btn btn-dark ps-3  pe-3'>
            {% comment %} <a href="{% url 'password_reset' %}" class='text-warning ms-3 mt-1 text-decoration-underline'>Forgot Password</a>  {% endcomment %}
          </div>
            
          <small class='text-danger'>{{form.non_field_errors}}</small>
        </form>
        <p class ='text-center'>
          <strong>Dont't have Account ? <a href="{% url 'user_registration' %}" class='text-warning'>Register</a> </strong></p>

        </div>

    </div>
  </section>

{% endblock content %}