{% extends 'core/base.html' %}
{% load static %}
{% block css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'accounts/css/user_register_login.css' %}">
{% endblock css %}

{% block content %}




  <section class="container-fluid">
    <div class="container h-100 mt-5 mb-5">
    
      <div class="user_registration_box alert alert-success shadow rounded m-auto">
          <h3 class='text-center pt-3'>GloWhite Herblas</h3>
         <p class="p-3 pt-1 alert alert-success">
            Your new password has been set. You can log in now on the <a href="{% url 'login' %}" class='text-primary text-decoration-underline'>log in page</a>.
        </p>        
        

    </div>
  </section>

{% endblock content %}