{% extends 'core/base.html' %}
{% load static %}
{% block css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'accounts/css/user_register_login.css' %}">
{% endblock css %}

{% block content %}




  <section class="container-fluid">
    <div class="container h-100 mt-5 mb-5">
    
      <div class="user_registration_box shadow rounded m-auto">
          <h3 class='text-center pt-3'>GloWhite Herblas</h3>
          <h5 class='text-center text-warning'>Forgot your password</h5>
        <p class='pe-3 ps-3'>Enter your email address below, and we'll email instructions for setting a new password.</p>
          <form action="" method='POST' class='p-md-3'>
           {% csrf_token %}
          {% for fm in form %}
          <div class="form-group">
       
            <label for = '{{fm.label|lower}}' id ='id_{{fm.label|lower}}' class='ps-1'>{{fm.label}}</label>
            {{fm}}
            <span class='text-danger'>{{fm.errors|striptags}}</span>
          </div>
          {% endfor %}

          <div class="form-group d-flex justify-content-start align-align-content-center mt-3">

            <input type="submit" value='Send Mail' class='btn btn-dark ps-3  pe-3'>
          </div>
            
          <small class='text-danger'>{{form.non_field_errors}}</small>
        </form>
        

    </div>
  </section>

{% endblock content %}