{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ block.super }}{% endblock title %}

{% block css %}{{ block.super }}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock css %}

{% block content %}

 <section class="home overflow-hidden pt-1 shadow-lg">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
     {% for indicator in carousel %}
          {% if forloop.first %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" class="active"
          aria-current="true" aria-label="Slide 1"></button>
          {% else %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"
          aria-label="Slide 2"></button>
          {% endif %}
     {% endfor %}
       
      </div> 

      <div class="carousel-inner">
      {% for slider in carousel %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="2500">
          <img src="{{slider.carousel_image.url}}" class="d-block img-fluid w-100" alt="unable load Image">
        </div>
       {% endfor %}
       
     
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true">
          <span class=" ti-angle-left slider-icon">
             < </span>
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true">
          <span class=" ti-angle-right slider-icon"> > </span>

        </span>
        <span class="visually-hidden"></span>
      </button>
    </div>
  </section>
  <!--***************************  -->

  
  <section id="products" class="products mt-lg-5 pt-2">
    <div class="container">
      <div class="row gy-2">
      {% for facial in facial_kits %}
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 p-0">
          <div class="about_product_item">
            <h4 class="text-uppercase"></h4>
            <h2 class="text-uppercase">{{facial.category_short_intro}}</h2>
            <p class="decs">{{facial.description|linebreaks}}</p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
		<a href="{% url 'products_by_category' facial.slug %}">
		 <div class="product_item_images">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">          
			 {% if facial.product_set.all %}
				{% for pro_img in facial.product_set.all %}
					<div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="1500">
						<img src="{{pro_img.Product_image.url}}" class="d-block img-fluid w-100 rounded" alt="unable load Image">
					</div>
				{% endfor %}
			{% endif %}
              </div>
            </div>
          </div>
		  </a>
        </div>

{% endfor %}
      </div>
    </div>
  </section>

  <div class="Spotlights mt-5">
    <h2 class="text-center text-capitalize mb-5 ">In The SpotLights</h2>

    <div class="container-fluid px-lg-5 m-lg-4 overflow-hidden mb-5">
      <div class="row gx-md-4 gx-lg-5 gy-4 gy-md-4 gy-lg-4 text-center justify-content-center ">
    {% for category in links %}
	  {% if category.image1 %}
        <div class="col-12 col-md-4 col-lg-4 spotlight_box">
          <a href="{% url 'products_by_category' category.slug %}">
            <div class="spotlights_item overflow-hidden">
			
              <img src="{{category.image1.url}}" alt="" class="img-fluid bg-body">
          
			</div>
            <div class="about_spotlights_item">
              <p class="text-center">{{category.category_name}}</p>
            </div>
          </a>
        </div>
	  {% endif %}
    {% endfor %}

      </div>
    </div>
  </div>

<section class="m-2 mb-5">
  <div class="container">

    <div class="row gy-2">
      {% for bleach in bleaches %}
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 p-0">
          <div class="about_product_item">
            <h4 class="text-uppercase">{{bleach.category_tagline}}</h4>
            <h2 class="text-uppercase">{{bleach.category_short_intro}}</h2>
            <p class="decs">{{bleach.description}}</p>
          </div>
        </div>


        <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-5">
		<a href="{% url 'products_by_category' bleach.slug %}">
		 <div class="product_item_images">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% if bleach.product_set.all %}
				  {% for pro_img in bleach.product_set.all %}
					<div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="1500">
						<img src="{{pro_img.Product_image.url}}" class="d-block img-fluid w-100 rounded" alt="unable load Image">
					</div>
				  {% endfor %}
				{% endif %}
				
              </div>
            </div>
          </div>
		  </a>
        </div>

{% endfor %}
      </div>
</section>

  <section class="featured_products">
    <h2 class="text-center text-capitalize m-5 ">Our Featured Products</h2>
    <div class="container px-lg-4">
      <div class="row gx-3 gx-lg-4 gy-4 justify-content-center">


	{%for featured_product in featured_products %}
        <div class="col-12 col-md-4 col-lg-3  p-0 featured_product_box ">
          <div class="featured_product_item overflow-hidden">
            <a href="{{featured_product.product_url}}">
              <div class="featured_product_img ">
                <img src="{{featured_product.Product_image.url}}" alt="" class="img-fluid">
              </div>
              <div class="about_featured_product alet alert-light p-1 text-center text-dark">
                <p class='fw-bold'>{{featured_product.product_name}}</p>
              </div>
            </a>
          </div>
        </div>
	{% endfor %}

      </div>
    </div>
  </section>


  <div class="section mx-auto mt-5">
    <div class="container overflow-hidden">
      <div class="note">
        {% comment %} <h4><b>Note :- </b>GloWhite Herbals Products are 100% natural and free from harmful chemicals.</h4> {% endcomment %}
      </div>
    </div>
  </div>


{% endblock content %}