.about_us {
    min-height: 100vh;
    margin: auto;
  }
  
  .about_us_content {
    background: #fffefe;
    padding: 90px 110px 20px 110px;
  }
  
  .about_us_content h1 {
    font-weight: bold;
    color: rgb(10, 10, 10);
    font-family: var(--font-acme);
  }
  
  .about_us_content p {
    font-family: var(--font-poppins);
    font-weight: 550;
    text-align: justify;
    color: rgb(87, 87, 87) !important;
  }
  
  
@media(max-width:991px){
    .about_us .container{
        width: 100%!important;
        padding: 0;
    }
    .about_us_content {
    padding:35px 10px;
    margin: 0!important;
    /* display: none; */
  }
}